
.screen-title {
    position: absolute;
    width: 400px;
    height: 400px;
    left: calc(50% - 200px);
    top: 20px;

    background: repeating-linear-gradient(
        0deg,
        #606dbc,
        #606dbc 8px,
        #465298 8px,
        #465298 16px
        );
    box-shadow: 0px 0px 12px -2px #000000;
        
    /* border-radius: 20px; */

    text-align: center;
}

.screen-title .connection-status {
    color: white;
    float: right;
}

#connection-status-changeable.success {
    color: darkgreen;
}
#connection-status-changeable.loading {
    color: #aaa;
}
#connection-status-changeable.error {
    color: red;
}